<section id="team">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2>Meet Our Team</h2>
        <hr class="small">
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <div class="circle"><%= image_tag("tom.jpg") %></div>
          <h4>Tom</h4>
          <p >Designer/Developer</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <div class="circle"><%= image_tag("eric.jpg") %></div>
          <h4>Eric</h4>
          <p>Developer</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <div class="circle"><%= image_tag("patrick.jpg") %></div>
          <h4>Patrick</h4>
          <p>Developer</p>
        </div>
      </div>
    </div>
  </div>
</section>
