<html>

<body>
<!-- Header -->
<header id="top" class="header">
  <div class="text-vertical-center">
    <h2>Make a difference for as little as $1.</h2><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <a href="#about" class="btn-ghost btn-xlarge">v</a>
    <br>
    <br>
    <br>
    <br>
  </div>
</header>

<!-- About -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Change a lot of lives.</h2>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>


<!-- Custom Theme JavaScript -->
<script>
// Scrolls to the selected menu item on the page
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
      var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
    if (target.length) {
      $('html,body').animate({
        scrollTop: target.offset().top
      }, 2500);
      return false;
    }
  }
  });
});
</script>

<%= render :partial => 'partials/regions' %>


</body>

</html>
