<div class="element">
<%= form_for(:prospect, url: :prospects) do |f| %>
  <%= f.hidden_field :business_id, value: @business.id %>
  <p><%= f.text_field :amount, value: "$25.00", class: "lend-box" %><br><br>
  <%= f.submit "Lend", class: 'btn btn-success' %></p>
<% end %>
</div>
