<div class="element">
<%= form_for(:prospect, url: :prospects) do |f| %>
  <%= f.hidden_field :business_id, value: @business.id %>
  <p><%= f.text_field :amount %>
  <%= f.submit "Lend"%></p>
<% end %>
</div>
