
<% @regions.each do |region| %>
<div class="region">
  <%= image_tag(region.image) %><br>
  <div class="region-name">
    <%= region.name %><br>
  </div>
  <div class="info-box">
    <%= region.description %>
    <%= button_to "Learn More", region_businesses_path(region) %>
  </div>
</div>
<% end %>
