<div class="container regions">
  <div class="row">
    <% @regions.each do |region| %>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="item">
        <%= image_tag(region.image) %><br>
        <%= region.name %><br>
      </div>
      </div>
    <% end %>
  </div>
</div>
