<form class="new-user">
  <div class="form-group">
    <div class="container">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <%= form_for(@user) do |f| %>

            <%= render partial: 'partials/new_user_fields', locals: { f: f } %>

            <%= f.submit "Create Account", class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>  
  </div>  
</form>