<h1>Restaurant Name</h1>
<%= link_to "Login", login_path, method: "get" %><br /><br />
<h2><%= link_to "Categories", categories_path %></h2><br /><br />
<!-- will change to ERB when routes are set -->
<%= render partial: "/partials/items", locals: { items: @items }%>
