<h1>Restaurant Name</h1>
<h3><%= link_to "My Cart", cart_path(@cart) %></h3><br /><br />
<h2><%= link_to "Categories", categories_path %></h2><br /><br />
<!-- will change to ERB when routes are set -->
<%= render partial: "/partials/items", locals: { items: @items }%>
