<h1>Restaurant Name</h1>
<button> Login </button>
<!-- will change to ERB when routes are set -->
<% @items.each do |item| %>
Picture goes here<br />
<%= item.name %> <br />
<button> Add to cart</button>
<!-- will change to ERB when routes are set -->
<%end%>
