/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-family: Raleway, sans-serif;
	line-height: 1;
  font-family:Arial;
}

.container{
	display:block;
	margin:0 auto;
}


blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.welcome{
	font-family: Raleway;
	font-size: 28px;
	color: #993333;
	background-color: white;
	width: 80%;
	height: 1.5em;
	padding: 5px 5px 5px 5px;
}

.error{
	float:left;
	width: 25%
}

.item{
  float:left;
  width: 27.8%;
  background-color: #fff;
  color: black;
	font-family: Raleway, sans-serif;
  text-align: center;
  margin:10px 5px;
  border:15px solid rgba(255, 0, 0, .7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
  border-radius:5px;
}

.banner{
	float:right;
}


.top_box{
  padding:20px;
}
.bottom_box{
  background-color:#ccc;
  padding:10px;
}
.navbar{
  background-color:red;
  border: 2px solid black;
  text-align: center;
	height: 45px;
	padding-top: 10px;
}
.header{
	width: 100%
}
.category{
	float:left;
	padding: 20px 20px 20px 20px;
}
.logout{
	float:right;
	margin-right: 5px;
}
.login{
	background-color:white;
	color:black;
	float:left;
	border: 1px solid black;
	margin-top: 12px;
	margin-left: 10px;
	padding: 2px 2px 2px 2px;
	text-decoration: none;
	font-size: 14px;
}
.reviews{
	float:right;
	margin-top: 25px;

}
.navbutton{
  background: #494d4f;
 background-image: -webkit-linear-gradient(top, #494d4f, #657782);
 background-image: -moz-linear-gradient(top, #494d4f, #657782);
 background-image: -ms-linear-gradient(top, #494d4f, #657782);
 background-image: -o-linear-gradient(top, #494d4f, #657782);
 background-image: linear-gradient(to bottom, #494d4f, #657782);
 -webkit-border-radius: 28;
 -moz-border-radius: 28;
 border-radius: 28px;
 font-family: 'Raleway', sans-serif;
 color: #ffffff;
 font-size: 20px;
 padding: 5px 15px 5px 15px;
 margin-top: 2px;
 text-decoration: none;
 border: solid 1.5px black;
}
.navbutton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;

}
.btn {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #b82b2b);
  background-image: -moz-linear-gradient(top, #d93434, #b82b2b);
  background-image: -ms-linear-gradient(top, #d93434, #b82b2b);
  background-image: -o-linear-gradient(top, #d93434, #b82b2b);
  background-image: linear-gradient(to bottom, #d93434, #b82b2b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Raleway, Arial;
  color: #ffffff;
	padding: 5px 15px 5px 15px;
  font-size: 14;
	text-decoration: none;
	margin-bottom:20px;
}
.top_box{
      padding:20px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

@media (max-width: 500px) {
	.item{
		width: 100%;
	}
}
