/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  // font-family: Raleway, sans-serif;
	line-height: 1;
  font-family:Arial;
	margin-top: 60px;
	background-color: rgba(0,50,100,0.4);
	text-align: center;
}

.container{
	display:block;
	margin:0 auto;
}


.change-button:hover{
		background-color: blue;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.error{
	float:left;
	width: 25%
}

.item{
	background: black;
	opacity: .7;
	color: white;
  text-align: center;
  border:1px solid black;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	-webkit-background-clip: padding-box;
  border-radius:5px;
	margin-top: 5px;
	margin-bottom: 5px;

}

.individual_business{
  background-color: none;
  color: white;
	font-family: Raleway, sans-serif;
  text-align: center;
	padding: 15px 15px 15px 15px;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
  border-radius:5px;
}

.col-lg-6, .col-md-6, .col-sm-6 {
padding: 15px;
margin-bottom: 15px;
}

.info-box {
	display:none;
	clear:both;
}

.business-info {
	display: block;
	align: center;
}

.business-info img {
	width: 170px;
}

.top_box {
}

.bottom_box{
  background-color:#ccc;
  padding:10px;
}

.navbar{
  background-color:black;
  text-align: center;
	background: black;
	opacity: .7;
	padding-top: 10px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 100000;
}

.category{
	float:left;
	padding: 20px 20px 20px 20px;
}
.logout{
	float:right;
	margin-right: 5px;
}
.login{
	background-color:white;
	color:black;
	float:left;
	border: 1px solid black;
	margin-top: 12px;
	margin-left: 10px;
	padding: 2px 2px 2px 2px;
	text-decoration: none;
	font-size: 14px;
}
.reviews{
	float:right;
	margin-top: 25px;

}

.btn {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #b82b2b);
  background-image: -moz-linear-gradient(top, #d93434, #b82b2b);
  background-image: -ms-linear-gradient(top, #d93434, #b82b2b);
  background-image: -o-linear-gradient(top, #d93434, #b82b2b);
  background-image: linear-gradient(to bottom, #d93434, #b82b2b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Raleway, Arial;
  color: #ffffff;
	padding: 5px 15px 5px 15px;
  font-size: 14;
	text-decoration: none;
	margin-bottom:20px;
}



.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

@media (max-width: 500px) {
	.item{
		width: 100%;
	}
}

@media (min-width: 768px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

header div h2 {
  font-size: 40px;
}

.page-header {
  text-align: center;
}

section h2.section-heading {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
}

p.large {
  font-size: 16px;
}


html,
body {
  height: 75%;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
  padding-top: 250px;
}

/* Header */


.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
	background: image-url('landing_page.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.text-vertical-center h1 {
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  font-weight: 700;
  color: white;
}

/* About */

.about {
  padding: 100px 0;
}

/* Footer */
#wrapper {
	min-height:100%;
	position:relative;
}

#content {
	padding-bottom:1px; /* Height of the footer element */
}
#footer {
	background: black;
	opacity: .7;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}

/* Login modal styling */

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 300px;
}

.login-text {
  margin: 10px;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

.modal-footer {
  text-align: center;
}


/* Custom Button Styles */

$primary-color: #fff;
$hover-color: #fed136;
$muted: #777;

.btn-xlarge {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.btn-ghost {
  color: white !important;
  background-color: rgba(0,0,0,0);
  border: 2px solid white !important;
  font-weight: bold;
  border-radius: 0 !important;
}

.btn-ghost:hover,
.btn-ghost:focus,
.btn-ghost:active {
  color: black !important;
  border: 2px solid black !important;
	background-color: white;
	opacity: .7;

  text-decoration: none;
}

.btn-light {
  border-radius: 0;
  color: $muted;
  background-color: rgba(0,0,0,0);
}

/* Prospects styling */

.prospect img {
  width: 100px;
}

.element input {
  text-align: right;
}

.new-user {
  margin-top: 100px;
}

.form-control {
  margin-top: 15px;
}

.alert {
  margin-top: 60px;
  margin-bottom: 0px;
  border-radius: 5px;
}

