
<div>
  <img src= "http://fc02.deviantart.net/fs71/i/2012/122/2/6/pokemon_logo_by_richieisnela-d4ya9xp.png" width= "400px" class="banner">
<% @categories.each do |category| %>
<div class = "category">
<%= link_to category.name, category_path(category) ,class: 'navbutton'%>
</div>
<% end %>
</div>
