<div class='container'>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3 text-center'>
      <h3>Regional Administrators</h3>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3 text-center'>
      <table class='table'>
        <tr>
          <td><strong>Name</strong></td>
          <td><strong>Email</strong></td>
          <td><strong>Revoke Admin Rights</strong></td>
        </tr>
        <% @admins.each do |admin| %>
        <tr>
          <div class='prospect'>
            <td>
              <p><%= "#{admin.last_name}, #{admin.first_name}" %></p>
            </td>
            <td>
              <p><%= "#{admin.email}" %></p>
            </td>
            <td>
              <%= link_to "revoke", regional_admin_user_path(id: admin.id), class: 'remove-link', method: :delete %>
            </td>
          </div>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="add-regional-admin">
  <a href="#" id="create-modal-link" data-toggle="modal" data-target="#modal-create-regional-admin" class="btn btn-success">Add Administrator</a>  
</div>